.footer {
    background-color: $black-bg;
    color: $white;
    padding: 3rem 0;
    z-index: 99;
    position: relative;
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .logo__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 19rem;
        }
        @media(max-width: $desktop) {
            margin-bottom: 3rem;
        }
    }
    
    &__column {
        @media(max-width: 1200px) {
        text-align: center;
        }
        @media(max-width: $min-mob) {
            margin-bottom: 3rem;
        }
        &.socialmedia{
            @media(max-width: $tablet) {
                padding-top: 3rem;
            }
            @media(max-width: $min-mob) {
                padding-top: 0;
            }
            .wrap {
                width: fit-content;
                @media(max-width: $tablet) {
                    display: flex;
                    justify-content: center;
                }
                @media(max-width: $min-mob) {
                    display: block;
                }
            }
        }
        &.kontakt {
            
        }
    }

    &__title {
        font-weight: 400;
        margin-bottom: 1.25rem;
        font-size: 0.9rem;
        text-transform: uppercase;
    }
    &__link {
        color: $white;
        font-size: 0.9rem;
        font-weight: 300;
        &:hover {
            color: $white;
            opacity: .7;
        }
        &.socialmedia {
            display: flex;
            margin-bottom: 2rem;
            justify-content: flex-start;
            align-items: center;
            @media(max-width: $desktop) {
                // text-align: center;
                // justify-content: center;
            }
            &:first-child {
                @media(max-width: $tablet) {
                flex-direction: row-reverse;
                }
                @media(max-width: $min-mob) {
                    flex-direction: row;
                }
                .footer__icon {
                    @media(max-width: $tablet) {
                    margin-left: 15px;
                    margin-right: 10px;
                    }
                    @media(max-width: $min-mob) {
                        margin-left: 0;
                    }
                }
            }
            &:last-child {
                .footer__icon {
                    @media(max-width: $tablet) {
                        margin-left: 10px;
                    }
                    @media(max-width: $min-mob) {
                        margin-left: 0;
                    }
                }
            }

        }
        &.email {
            margin-bottom: 1.25rem;
        }
    }
    &__text {
        font-size: 0.9rem;
        font-weight: 300;
    }
    &__icon {
        width: 45px;
        height: 45px;
        margin-right: 15px;
    }
    .socialmedia__wrap {
        @media(max-width: $desktop) {
            display: flex;
            justify-content: center;
        }
        @media(max-width: $min-mob) {
                display: flex;
                justify-content: center;

        }
    }
}