@import "../bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

// font-family: 'Lato', sans-serif;


// auto-resizing fonts
html {
    font-size: 15px;
}

::selection {
    background: #48a04e;
}
::-moz-selection {
    background: #48a04e;
}


body::-webkit-scrollbar {
    width: .5em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
  }
   
  body::-webkit-scrollbar-thumb {
    background: radial-gradient(circle, #0d4469 0%, #48a04e 100%);
    outline: 1px solid slategrey;
    border-radius: 15px;
    outline: none;

  }

@media screen and (min-width: 400px) {
    html {
        font-size: calc(15px + 5 * ((100vw - 400px) / 1000));
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 20px;
    }
}


.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6 {
    @media(max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
    }
}




// hamburger menu

header {
    width: 100%;
    height: 100vh;
    background: transparent;
    position: absolute;
    overflow: hidden;
    .container {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        padding-left: 30px;
        padding-right: 30px;
        @media(max-width: 1450px) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}


.animated-icon1 span {
    background-color: #fff;
}

button.navbar-toggler:focus {
    outline: none;
}


#icon.fixed {
    position: fixed;
}

  .icon-1, .icon-2, .icon-3 {
      position: absolute;
      left: 25%;
      top: 50%;
      width: 32px;
      height: 3px;
      background-color: white;
      transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
      @media(max-width: 400px) {
          width: 21px;
      }
  }
  
  .icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
  }
  
  .icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
  }
  
  .hamburger-icon {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 2rem;
    right: 2rem;
    z-index: 995;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    // background: green;
    // width: auto;
    // height: 50px;
    // overflow: hidden;
    @media(max-width: 1450px) {
        top: 1rem;
        right: 1rem;
    }
    @media(max-width: 400px) {
width: 40px;
height: 40px;
    }
    &:hover {
      // .icon-1 {
      //   transform: rotate(40deg);
      // }
      // .icon-3 {
      //   transform: rotate(-40deg);
      // }
      // .icon-2 {
      //   opacity: 0;
      // }
      transform: scale(1.2);
      box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    }
  }
  
  .icon-1.a {
    transform: rotate(40deg);
  }
  .icon-3.b { 
    transform: rotate(-40deg);
  }
  .icon-2.c {
    opacity: 0;
  }
  
  .clear {
    clear: both;
  }
  
  @keyframes slideIn {
    0% {
      width: 0%;
      // transform: scale(.3);
      opacity: 0;
    }
    
    100% {
      width: 50%;
      // transform:scale(1);
      opacity: 1;
    }
  }
  
a.nav-link {
    color: #fff;
    &:hover {
        opacity: .5;
    }
}


  nav {
    background: #0288D1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
      transition: all 600ms cubic-bezier(.62,.04,.3,1.56);
     transition-delay: 100ms;
    ul {
      margin: 0;
      position: absolute;
      top: 1rem;
      left: 0%;
      li {
        list-style: none;
        font-size: 24px;
        color: #fff;
        line-height: 2.2;
        text-transform: uppercase;
        letter-spacing: 1.7px;
        @media(max-width: 1450px) {
            font-size: 22px;
            line-height: 1.8;
        }
        @media(max-width: 567px) {
            font-size: 18px;
            line-height: 1.5;
        }
        &:before {
          
        }
      }
    }
  }
  
   nav.show {
    //  opacity: 0;
    // animation: slideIn 0.6s cubic-bezier(.62,.04,.3,1.56);
    // animation-fill-mode: forwards;
     width: 30%;
      // transform:scale(1);
     opacity: 1;
     visibility: visible;
     @media(max-width: 1200px) {
        width: 40%;
    }
    @media(max-width: 991px) {
        width: 50%;
    }
    @media(max-width: 767px) {
        width: 80%;
    }
    @media(max-width: 576px) {
        width: 100%;
    }
  }
  
  
  .dark-blue {
    position: absolute;
    top: 0;
    left: 0;
    background: #48a04e;
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(.62,.04,.3,1.8);
    transition-delay: 50ms;
    z-index: 5;
    opacity: 1;
  }
  
  .dark-blue.slide {
    width: 30%;
    opacity: 1;
    @media(max-width: 1200px) {
        width: 40%;
    }
    @media(max-width: 991px) {
        width: 50%;
    }
  }
  
  @keyframes shotup {
    0% {
      transform: translateY(300%) ;
      opacity: 0;
    }
    90% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0%) ;
      opacity: 1;
    }
  }
  
//   .content-header {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 100%;
//     transform: translate(-50%, -50%);
//     text-align: center;
//     h1 {
//       font-size: 70px;
//        animation: shotup 600ms ease-in-out;
//       animation-delay: 300ms;
//     }
//   }


// dropdown menu
#navbarNavDropdown {
    justify-content: flex-end !important;
    max-width: fit-content;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
    position: absolute;
    right: 0;
    top: 80px;
    padding: 10px 50px;
    text-align: center;
    a {
        color: #fff;

        &:hover {
            opacity: .8;
        }
    }
}

// nabbar

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    z-index: 99;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
}








body {
    margin: 0;
    font-family: $lato;
}

.container {
    max-width: 85vw;
    @media(max-width: 1200px) {
        max-width: 90vw;
    }
    @media(max-width: 767px) {
        max-width: 100vw;
    }
    &.small {
        min-width: 80vw;
    }
}

section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    @media(max-width: 1500px) {
        padding-top: 8rem;
        padding-bottom: 5rem;
    }
}

.section {
    &__title {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3rem;
        @media(max-width: 1500px) {
            font-size: 2rem;
            margin-bottom: 2.5rem;
        }
        @media(max-width: 767px) {
            font-size: 24px;
            margin-bottom: 2.5rem;
        }
    }
}

.btn {
    font-size: 1rem;
    color: $white;
    padding: 1.25rem 1.5rem;
    transition: .3s;
    width: fit-content;
    background: radial-gradient(circle, rgba(13, 68, 105, 1) 0%, rgba(72, 160, 78, 1) 100%);
    border-radius: 25px;
    min-width: 200px;
    &:hover {
    background-position: 100px;
    color: $white;
    text-decoration: none;
    }
    @media(max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }
}

a {
    display: block;
    text-decoration: none;
    transition: .3s;
    &:hover {
        text-decoration: none;
    }
}



.slider {
&__img {
    margin: 0 auto;
    max-height: 460px;
    width: inherit;
    object-fit: contain;
    @media(max-width: 767px) {
        max-width: 70vw;
    }
}
&__item {
    display: block;
}
}


// slider
.slick-dots {
    display: flex;
    justify-content: center;
    button {
        display: none;
    }
    li {
        width: 20px;
        height: 20px;
        
    }
}


::marker {
    color: rgba(255, 255, 255, 0.294);
    opacity: .3;
    font-size: 30px;
}

li.slick-active::marker {
    color: white;
    opacity: 1;
}


// welcome
.welcome {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    animation: welcomeBanner 2s; 
    z-index: 999; 
    @keyframes welcomeBanner {
        0% {
            opacity: 1;
            visibility: visible;
        }
        80% {
                        opacity: 1;
            visibility: visible;
        }
        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__img {
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
    
}



.intro {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        color: $white;
        text-align: left;
        @media(max-width: 767px) {
            text-align: center;
        }
    }

    &__subtitle {
        font-size: 1rem;
        color: $white;
        margin-bottom: 5rem;
        @media(max-width: 1500px) {
            margin-bottom: 3rem;
        }
        @media(max-width: 767px) {
            text-align: center;
        }
    }
    &__row {
        align-items: center;
        @media(max-width: 767px) {
            flex-direction: column-reverse;
        }
    }
    .slider__column {
        height: fit-content;
        @media(max-width: 767px) {
            margin-bottom: 2.5rem;
        }
    }
}




.products {
    padding-bottom: 0;
    &__title{
        
        margin-bottom: 4.5rem;
    }
    .product {
        &__card {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-bottom: 5rem;

            transition: .3s;
            &:hover {
                .product__icon {
                    opacity: 0;
                    visibility: hidden;
                }
                .product__icon.hover {
                    opacity: 1;
                    visibility: visible;
                }
                .product__name {
                    opacity: 0;
                    visibility: hidden;
                } 
                .product__description {
                    opacity: 1;
                    visibility: visible;
                } 
            }
        }


        &__icon {
            margin-bottom: 1.5rem;
            visibility: visible;
            opacity: 1;
            @media(max-width: 1450px) {
                max-height: 100px;
                max-width: 100px;
            }
            &.hover {
                position: absolute;
                opacity: 0;
                visibility: hidden;
            }
        }
        &__name {
            color: $black;
            font-size: 1rem;
            font-weight: 700;
        }
        &__description {
            color: #1E1E2A;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            top: 100px;
            width: calc(100% - 30px);
        }
    }
}

.shops {
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
        @media(max-width: 576px) {
            padding-bottom: 0;
        }
        &__title {
            color: $white;
        }

        .row {
            align-items: center;
        }

        .shop {
            &__link {
                position: relative;
                transition: .3s;
                @media(max-width: 840px) {
                    margin-bottom: 4.5rem;
                }
                &:hover {
                    .shop__icon {
                        opacity: 0;
                    }
                    .shop__icon.hover {
                        opacity: 1;
                    }
                }
                svg {
                    display: block;
                    margin: 0 auto;

                }
                img {
                    display: block;
                    margin: 0 auto;
                    transition: .3s;
                }
            }
            &__icon {
                opacity: 1;
                @media(max-width: 1450px) {
                    max-width: 15vw;
                    max-height: 100px;
                }
                @media(max-width: 840px) {
                    max-width: 150px;
                    max-height: 100px;
                }
                @media(max-width: 576px) {
                    max-height: 70px;
                }
                &.hover {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%);
                    opacity: 0;
                }
            }
        }
        // olx
        path#olx-logo-vector-2 {
            fill: #fff;
            &:hover {
                fill: rgb(36, 229, 219);
            }
        }

        // alegro 
        path#Allegro\.pl_sklep-2 {
            fill: #fff;
            &:hover {
                fill: rgb(255, 90, 0);
            }
        }

        // amazon 
        // path#path8-2 {
        //     fill: #FFF;
        // }
        // path#path10-2 {
        //     fill: #fff;
        // }
        // path#path12-2 {
        //     fill: #fff;
        // }
        // path#path14-2 {
        //     fill: #fff;
        // }

        g#Amazon_logo-2 path {
            fill: #fff;
            &:hover {
                fill: initial;
            }
        }

        // facebook
        path#facebook {
            fill: white;
        }
        ellipse#Ellipse_26 {
            fill: black;
        }

}

.b2b {

    &__img {
        max-width: 100%;

    }
    &__title {
        margin-bottom: 2rem;
    }
    &__subtitle {
        margin-bottom: 2.5rem;
    }
    &__form {
        max-width: 100%;
        .wpcf7 {
            max-width: 100%;
        }
    }
    .img__wrap {
        @media(max-width: 991px) {
            display: none;
        }
    }
    .row.first,
    .row.second {
        justify-content: space-between;
        margin-bottom: 2rem;
        @media(max-width: 767px) {
            margin-bottom: 0;
        }
    }
    .form {

        text-align: center;
        padding-left: 50px;
        @media(max-width: 991px) {
            padding-left: 15px;
            width: 100%;
        }
        @media(max-widht: 840px) {
            padding-left: 15px;
        }

        form span {
            display: block;
            width: 47%;
            @media(max-width: 767px) {
                width: 100%;
                margin-bottom: 2rem;
            }
            &.your-subject {
                width: 100%;
                textarea {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
            input {
                width: 100%;
                border-radius: 5px;
                padding: 10px 20px;
            }

        }

        

            span.wpcf7-form-control-wrap.acceptance-435 {
                width: 20px;
                display: inline!important;
            }
            span.wpcf7-form-control.wpcf7-acceptance {
                width: 20px;
                display: inline!important;
            }
            span.wpcf7-list-item {
                width: 20px;
                display: inline!important;
            }
            input[type="checkbox"] {
                width: 20px;
                display: inline;
            }

        form {
            & > lable {
                margin-bottom: 2rem;
            }
            textarea {
                border-radius: 5px;
                padding: 10px 20px;

            }
        }
        input.wpcf7-form-control.wpcf7-submit.btn {
       
            margin: 0 auto;
    display: block;
    margin-top: 2rem;

        }
    }
}

.preparing {
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
        h2, h3 {
            max-width: 800px;
            text-align: center;
            display: block;
            
        }
        &__title {
            color: $white;
            margin: 0 auto;
            margin-bottom: 2.5rem;
        }
        &__subtitle {
            color: $white;
            margin: 0 auto;
            margin-bottom: 7.5rem;
            @media(max-width: 767px) {
                margin-bottom: 5rem;
                font-size: 15px;
            }
        }
        .step {
            &__link {
                display: block;
                margin-bottom: 8rem;
                @media(max-width: 767px) {
                    // &:before {
                    //     content: ''; 
                    //     width: 50px;
                    //     height: 150px;
                    //     display: block;
                    //     position: absolute;
                    //     background-image: url(../../src/img/bottom-arrow.svg);
                    //     background-repeat: no-repeat;
                    //     background-size: contain;
                    //     background-position: center;
                    //     left: 50%;
                    //     top: 0;
                    //     transform: translate(-50%, 50%);
                    // }
                    // &:after {
                    // content: ''; 
                    // width: 50px;
                    // height: 150px;
                    // display: block;
                    // position: absolute;
                    // background-image: url(../../src/img/bottom-arrow.svg);
                    // background-repeat: no-repeat;
                    // background-size: contain;
                    // background-position: center;
                    // left: 50%;
                    // top: 100%;
                    // transform: translate(-50%, 0);
                    // }
                }

                &:nth-child(2) {
                    position: relative;
                    &:before {
                        content: '';
                        width: 14vw;
                        height: 50px;
                        display: block;
                        position: absolute;
                        background-image: url(../../src/img/right-arrow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        left: 0;
                        top: 20%;
                        transform: translate(-50%, 0);
                        @media(max-width: 991px) {
                            width: 12vw;
                        }
                        @media(max-width: 767px) {
                            content: '';
                            width: 50px;
                            height: 150px;
                            display: block;
                            left: initial;
                            position: absolute;
                            background-image: url(../../src/img/bottom-arrow.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            left: 50%;
                            top: -100%;
                            transform: translate(-50%, 30%);
                        }
                        @media(max-width: 576px) {
                            height: 30vw;
                        }
                    }
                    &:after {
                        content: '';
                        width: 14vw;
                        height: 50px;
                        display: block;
                        left: initial;
                        position: absolute;
                        background-image: url(../../src/img/right-arrow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        right: 0;
                        top: 20%;
                        transform: translate(50%, 0);
                        @media(max-width: 991px) {
                            width: 12vw;
                        }
                        @media(max-width: 767px) {
                            content: '';
                            width: 50px;
                            height: 150px;
                            display: block;
                            left: initial;
                            position: absolute;
                            background-image: url(../../src/img/bottom-arrow.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            left: 50%;
                            top: 100%;
                            transform: translate(-50%, -10%);
                        }
                        @media(max-width: 576px) {
                            height: 30vw;
                        }
                    }
                
                }
                &:nth-child(3) {
                    position: relative;
                    &:after {
                        content: '';
                        width: 50px;
                        height: 150px;
                        display: block;
                        left: initial;
                        position: absolute;
                        background-image: url(../../src/img/bottom-arrow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        left: 50%;
                        top: 100%;
                        transform: translate(-50%, 0);
                        @media(max-width: 767px) {
                            width: 50px;
                        transform: translate(-50%, -10%);
                        }
                        @media(max-width: 576px) {
                            height: 30vw;
                        }
                    }
                
                }
                &:nth-child(5) {
                    position: relative;
                    &:before {
                        content: '';
                        width: 14vw;
                        height: 50px;
                        display: block;
                        position: absolute;
                        background-image: url(../../src/img/left-arrow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        left: 0;
                        top: 20%;
                        transform: translate(-50%, 0);
                        @media(max-width: 991px) {
                            width: 12vw;
                        }
                        @media(max-width: 767px) {
                            content: '';
                            width: 50px;
                            height: 150px;
                            display: block;
                            left: initial;
                            position: absolute;
                            background-image: url(../../src/img/bottom-arrow.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            left: 50%;
                            top: -100%;
                            transform: translate(-50%, 30%);
                        }
                        @media(max-width: 576px) {
                            height: 30vw;
                        }
                    }
                    &:after {
                        content: '';
                        width: 14vw;
                        height: 50px;
                        display: block;
                        left: initial;
                        position: absolute;
                        background-image: url(../../src/img/left-arrow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        right: 0;
                        top: 20%;
                        transform: translate(50%, 0);
                        @media(max-width: 991px) {
                            width: 12vw;
                        }
                        @media(max-width: 767px) {
                            content: '';
                            width: 50px;
                            height: 150px;
                            display: block;
                            left: initial;
                            position: absolute;
                            background-image: url(../../src/img/bottom-arrow.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            left: 50%;
                            top: 100%;
                            transform: translate(-50%, -10%);
                        }
                        @media(max-width: 576px) {
                            height: 30vw;
                        }
                    }
                }
                &:last-child {
                    @media(max-width: 767px) {
                    margin-bottom: 0;
                    }
                }
                p {
                    margin-bottom: 0;
                }
            }
            &__icon {
                display: block;
                margin: 0 auto;
                margin-bottom: 1.5rem;
                max-width: 30vw;
                max-height: 30vw;
            }
            &__name {
                color: $white;
                text-align: center;
            }
        }
}

.brands {
    &__title {
        margin-bottom: 7rem;
    }
    .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .brand__link img {
        margin: 0 auto;
        max-width: 100%;
    }
    &__slider {
        .slick-prev {
            position: absolute;
            top: 50%;
            left: 0;
            height: 60px;
            width: 80px;
            transform: translate(-100%, -50%);
            border: none;
            outline: none;
            background-color: transparent;
            background-image: url(../../src/img/slider-arrow-left.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            color: transparent;
            z-index: 99;
            @media(max-width: 991px) {
                display: none!important;
            }
        }
        .slick-next {
            position: absolute;
            top: 50%;
            right: 0;
            height: 60px;
            width: 80px;
            transform: translate(100%, -50%);
            border: none;
            outline: none;
            background-color: transparent;
            background-image: url(../../src/img/slider-arrow-right.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            color: transparent;
            z-index: 99;
            @media(max-width: 991px) {
                display: none!important;
            }
        }
        .slick-slide {
            margin: 0 27px;
          }
          /* the parent */
          .slick-list {
            margin: 0 0;
          }
        
    }

}

.about {
            background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
            color: $white;
            &__title {

            }
            &__subtitle {
                text-align: center;
                font-size: 1rem;
            }
            &__img {
                max-width: 100%;
                padding-left: 4vw;
                @media(max-width: 991px) {
                    padding-left: 0;
                    max-width: 80%;
                }
            }
            &__content {
                padding-left: 8vw;
                padding-right: 4vw;
                @media(max-width: 991px) {
                    margin-bottom: 3rem;
                    text-align: center;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
            .img__wrap{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .content {

                &__title {
                    padding-top: 7rem;
                    margin-bottom: 3rem;
                    font-size: 1.8rem;
                    font-weight: 700;
                    @media(max-width: 991px) {
                        padding-top: 3rem;

                    }

                }
                &__text {
                    max-width: 850px;
                    font-size: 1rem;
                }
            }
}

.footer {
    .container {
        &.content {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        &:hover {
            color: $black;
            opacity: .8;
        }
        p {
            margin-bottom: 0;
        }
        &.logo img {
            max-width: 100%;
            width: 430px;
        }
        &.phone {
            margin-bottom: 25px;
        }
        &.rodo {
            padding-top: 10px;
            margin-bottom: 25px;
        }
    }
    &__icon {
        margin-right: 25px;
    }
    .copyright {
        .realization {
            text-align: end;
        }
        a {
            display: inline;
        }

    }
}

#poststuff #post-body.columns-2 {
    margin-right: 15px!important;
}