@import "../bootstrap/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

// font-family: 'Lato', sans-serif;


// auto-resizing fonts
html {
    font-size: 15px;
}

@media screen and (min-width: 400px) {
    html {
        font-size: calc(15px + 5 * ((100vw - 400px) / 1000));
    }
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 20px;
    }
}



.navbar {
    display: none;
}

body {
    margin: 0;
    font-family: $lato;
}

.container {
    max-width: 85vw;
    &.small {
        min-width: 80vw;
    }
}

section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.section {
    &__title {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }
}

.btn {
    font-size: 1rem;
    color: $white;
    padding: 1.25rem 1.5rem;
    transition: .3s;
    width: fit-content;
    background: radial-gradient(circle, rgba(13, 68, 105, 1) 0%, rgba(72, 160, 78, 1) 100%);
    border-radius: 25px;
    &:hover {
    background-position: 100px;
    color: $white;
    text-decoration: none;
    }
}

a {
    display: block;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}



.slider {
&__img {
    margin: 0 auto;
    max-height: 460px;
}
&__item {
    display: block;
}
}


// slider
.slick-dots {
    display: flex;
    justify-content: center;
    button {
        display: none;
    }
    li {
        width: 20px;
        height: 20px;
        
    }
}

.intro {
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        color: $white;
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 3.5rem;
    }

    &__subtitle {
        font-size: 1rem;
        color: $white;
        margin-bottom: 5rem;
    }
}

.products {

    .product {
        &__card {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-bottom: 7rem;
        }
        &__icon {
            margin-bottom: 1.5rem;
            &.hover {
                position: absolute;
                opacity: 0;
                visibility: hidden;
            }
        }
        &__name {
            color: $black;
            font-size: 1rem;
            font-weight: 700;
        }
        &__description {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.shops {
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
        &__title {
            color: $white;
        }

        .row {
            align-items: center;
        }

        .shop {
            &__link {
                svg {
                    display: block;
                    margin: 0 auto;
                }
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        // olx
        path#olx-logo-vector-2 {
            fill: #fff;
            &:hover {
                fill: rgb(36, 229, 219);
            }
        }

        // alegro 
        path#Allegro\.pl_sklep-2 {
            fill: #fff;
            &:hover {
                fill: rgb(255, 90, 0);
            }
        }

        // amazon 
        // path#path8-2 {
        //     fill: #FFF;
        // }
        // path#path10-2 {
        //     fill: #fff;
        // }
        // path#path12-2 {
        //     fill: #fff;
        // }
        // path#path14-2 {
        //     fill: #fff;
        // }

        g#Amazon_logo-2 path {
            fill: #fff;
            &:hover {
                fill: initial;
            }
        }

        // facebook
        path#facebook {
            fill: white;
        }
        ellipse#Ellipse_26 {
            fill: black;
        }

}

.b2b {
    .form {
        text-align: center;
        form span {
            display: block;
            width: 50%;
        }
    }
}

.prepearing {
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
        h2, h3 {
            max-width: 800px;
            text-align: center;
            display: block;
            
        }
        &__title {
            color: $white;
            margin: 0 auto;
            margin-bottom: 2.5rem;
        }
        &__subtitle {
            color: $white;
            margin: 0 auto;
            margin-bottom: 7.5rem;
        }
        .step {
            &__link {
                display: block;
                margin-bottom: 8rem;
            }
            &__icon {
                display: block;
                margin: 0 auto;
                margin-bottom: 1.5rem;
            }
            &__name {
                color: $white;
                text-align: center;
            }
        }
}

.brands {
    &__title {
        margin-bottom: 7rem;
    }
    .slick-track {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .brand__link img {
        margin: 0 auto;
        max-width: 100%;
    }

}

.about {
            background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(74, 80, 94, 1) 0%, rgba(30, 30, 42, 1) 100%);
            color: $white;
            &__title {

            }
            &__subtitle {

                text-align: center;
                font-size: 1rem;
            }
            .content {
                &__title {
                    padding-top: 7rem;
                    margin-bottom: 3rem;
                    font-size: 1.8rem;
                    font-weight: 700;

                }
                &__text {
                    max-width: 850px;
                    font-size: 1rem;
                }
            }
}