section.intro {
    height: calc(100vh - 210px);
    position: relative;
    background-position: center;
    background-size: cover;
    .intro {
        &__banner {
            background: $grey66;
            width: 35%;
            min-width: 450px;
            text-align: center;
            padding: 30px;
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            @media(max-width: $tablet) {
                padding: 15px;  
            }
            @media(max-width: $min-mob){
                width: 75%;
                min-width: 300px;
                top: 20%;
            }
            .banner {
                &__text {
                    font-family: $kaushan;
                    font-size: 4rem;
                    line-height: 0.9;
                    text-transform: lowercase;
                    @media(max-width: $tablet) {
                        font-size: 60px;
                    }
                    @media(max-width: $min-mob) {
                        font-size: 40px;
                        width: fit-content;
                        display: inline;
                    }
                    &.top {
                        position: relative;
                        color: $black;
                        transform: translateY(25%);
                        z-index: 2;
                    }
                    &.bottom {
                        position: relative;
                        color: $blue;
                        transform: translateY(-25%);
                        z-index: 1;
                    }
                }
                &__btn {
                    width: fit-content;
                    margin-top: -50px;
                    margin-left: auto;
                    display: flex;
                    align-items: flex-end;
                    @media(max-width: $min-mob) {
                        margin-top: 15px;
                    }
                    span {
                        color: $black;
                    }
                }
            }
        }
    }
}